<!-- Component: Navbar with Avatar -->
<!-- Header -->
<header
  class="relative z-20 w-full border-b shadow-lg border-b-1 border-slate-200 bg-white/90 shadow-slate-700/5 after:absolute after:top-full after:left-0 after:z-10 after:block after:h-px after:w-full after:bg-slate-200 lg:border-slate-200 lg:backdrop-blur-sm lg:after:hidden"
>
  <div
    class="relative mx-auto max-w-full px-6 lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[96rem]"
  >
    <nav
      aria-label="main navigation"
      class="flex h-[4rem] items-stretch justify-between font-medium text-slate-700"
      role="navigation"
    >
      <!-- Brand logo -->
      <a
        id="WindUI"
        aria-label="WindUI logo"
        aria-current="page"
        class="flex items-center gap-2 py-3 text-lg whitespace-nowrap focus:outline-none lg:flex-1"
        href="javascript:void(0)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="300"
          height="300"
          fill="none"
          class="w-12 h-12"
          viewBox="0 0 24 24"
          id="twitter"
        >
          <path
            fill="#6563ff"
            d="M22 5.796a8.192 8.192 0 0 1-2.357.646 4.115 4.115 0 0 0 1.805-2.27 8.197 8.197 0 0 1-2.606.996 4.105 4.105 0 0 0-7.097 2.808 4.15 4.15 0 0 0 .105.935 11.65 11.65 0 0 1-8.456-4.287 4.107 4.107 0 0 0 1.27 5.478 4.084 4.084 0 0 1-1.86-.513v.052a4.105 4.105 0 0 0 3.292 4.023 4.082 4.082 0 0 1-1.081.143 4.165 4.165 0 0 1-.773-.072 4.108 4.108 0 0 0 3.832 2.85A8.261 8.261 0 0 1 2 18.282a11.611 11.611 0 0 0 6.29 1.844A11.594 11.594 0 0 0 19.962 8.453q0-.267-.013-.53A8.36 8.36 0 0 0 22 5.796Z"
            data-name="Brand Logos"
          ></path>
        </svg>
        Friends
      </a>

      <!-- Mobile trigger -->
      <button
        class="relative self-center order-10 visible block w-10 h-10 opacity-100 lg:hidden"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div
          class="absolute w-6 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        >
          <span
            aria-hidden="true"
            class="absolute block h-0.5 w-9/12 -translate-y-2 transform rounded-full bg-slate-900 transition-all duration-300"
          ></span>
          <span
            aria-hidden="true"
            class="absolute block h-0.5 w-6 transform rounded-full bg-slate-900 transition duration-300"
          ></span>
          <span
            aria-hidden="true"
            class="absolute block h-0.5 w-1/2 origin-top-left translate-y-2 transform rounded-full bg-slate-900 transition-all duration-300"
          ></span>
        </div>
      </button>
      <!-- Navigation links -->
      <ul
        role="menubar"
        aria-label="Select page"
        class="invisible absolute top-0 left-0 z-[-1] ml-auto h-screen w-full justify-center overflow-hidden overflow-y-auto overscroll-contain bg-white/90 px-8 pb-12 pt-28 font-medium opacity-0 transition-[opacity,visibility] duration-300 lg:visible lg:relative lg:top-0 lg:z-0 lg:flex lg:h-full lg:w-auto lg:items-stretch lg:overflow-visible lg:bg-white/0 lg:px-0 lg:py-0 lg:pt-0 lg:opacity-100"
      >
        <li role="none" class="flex items-stretch">
          <a
            role="menuitem"
            aria-haspopup="false"
            class="flex items-center gap-2 py-4 transition-colors duration-300 hover:text-emerald-500 focus:bg-emerald-50 focus:outline-none focus-visible:outline-none lg:px-8"
            href="javascript:void(0)"
          >
            <span>About me</span>
          </a>
        </li>
      </ul>

      <!-- image -->
      <div class="flex items-center px-6 ml-auto lg:ml-0 lg:p-0">
        <!-- Avatar -->
        <!-- Component: Rounded full lg sized image avatar with borders -->
        <a
          href="#"
          class="relative inline-flex items-center justify-center w-12 h-12 text-white rounded-full"
        >
          <img
            src="https://i.pravatar.cc/48?img=1"
            alt="user name"
            title="user name"
            width="48"
            height="48"
            class="max-w-full border-2 border-white rounded-full"
          />
        </a>
        <!-- End Rounded lg sized image avatar with borders -->
        <!-- End Avatar -->
      </div>
    </nav>
  </div>
</header>
<!-- End Navbar with Avatar-->
